<header>
  <div id="left-items">
    <div id="logo"><%= image_tag('SP_color@2x.svg') %></div>
    <h1 id="text-logo">Adobe Spark</h1>
  </div>
  <div id="middle-items">
    <div>
      <ul>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Inspiration</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Learn more</a></li>
      </ul>
    </div>
  </div>
  <div id="right-items">
    <ul>
      <li><a href="#" class="cta-button">Start now for free</a></li>
      <li><a href="#">Log in</a></li>
    </ul>
  </div>
</header>

<section id="hero">
  <div id="hero-text">
    <h2>Spark Video</h2>
    <h1>Make compelling video stories—in minutes</h1>
    <a href="#">Get started now</a>
  </div>
  <div id="demo-image-container">
    <div class="demo-image">
      <%= image_tag('706Aina-1.jpg') %>
      <p>Advertisement</p>
    </div>
    <div class="demo-image">
      <img src="https://cdn.cp.adobe.io/content/2/rendition/768dddf8-93a2-443a-96e4-a0e6e937099e/artwork/bf7c3346-59e5-468e-9367-f5e00abb8c40/version/1/format/jpg/dimension/height/size/403" alt="">
      <p>Social cause</p>
    </div>
    <div class="demo-image">
      <img src="https://cdn.cp.adobe.io/content/2/rendition/bda1a369-f505-4c07-a79c-5f357366ce00/artwork/03fff424-6ddf-488f-9f2c-c8de5e67a575/version/1/format/jpg/dimension/height/size/403" alt="">
      <p>Recipe</p>
    </div>
    <div class="demo-image">
      <img src="https://cdn.cp.adobe.io/content/2/rendition/9a4ffe99-f174-4a74-9403-2e0d38ec2d83/artwork/06b70fb8-5398-471d-82bb-fc5132537a4c/version/1/format/jpg/dimension/height/size/403" alt="">
      <p>Portfolio</p>
    </div>
    <div class="demo-image">
      <%= image_tag('534Rollercoasters-1.jpg') %>
      <p>For fun</p>
    </div>
  </div>
  <h3>Learn more</h3>
</section>

<section class="presentation" id="social-media">
  <div>
    <h2>See how you can create with Spark Video</h2>
  </div>
  <div class="presentation-content">
    <div class="presentation-text">
      <h3>Wow your audience on social</h3>
      <p>Whether you want to gain a following, launch an idea, grow your business, or support a cause, video is the most engaging way to communicate on social. Create and share compelling videos that extend your reach and inspire your audience to action.</p>
      <a href="#">Create a video</a>
    </div>
      <%= image_tag('feature-video-structure-2x.gif') %>
  </div>
</section>

<section class="presentation" id="create-minutes">
  <div class="presentation-content">
    <div class="presentation-text">
      <h3>Create in minutes</h3>
      <p>Easily combine video clips, photos, and icons into an engaging video. Add impact with text overlay—no design expertise required.</p>
      <a href="#">Create a video</a>
    </div>
      <%= image_tag('feature-video-overlay-2x.gif') %>
  </div>
</section>

<section class="presentation" id="sound">
  <div class="presentation-content">
    <div class="presentation-text">
      <h3>Make your video sound amazing</h3>
      <p>Select from a wide variety of free soundtracks, bring in your personal music, or use your own voice to make your point. You can also adjust the volume of your video clips so key moments stand out.</p>
      <a href="#">Create a video</a>
    </div>
      <%= image_tag('feature-video-sound-2x.gif') %>
  </div>
</section>

<section class="presentation" id="themes">
  <div class="presentation-content">
    <div class="presentation-text">
      <h3>Rich visual themes</h3>
      <p>Pick the visual style and theme that match your story, mood, and message. Each theme includes beautiful transitions and motion that bring your story to life.</p>
      <a href="#">Create a video</a>
    </div>
      <%= image_tag('feature-video-themes-2x.gif') %>
  </div>
</section>

<section id="features">
  <div>
    <h3>Spark Video Features</h3>
  </div>
  <div id="features-items">
    <div class="features-content">
      <div class="features-image"><%= image_tag('tool.svg') %></div>
      <h4>Professional themes</h4>
      <p>Explore our variety of best-in-class layouts, colors, and fonts. Then tweak them with text and photos to fit your needs.</p>
    </div>
    <div class="features-content">
      <div class="features-image"><%= image_tag('like.svg') %></div>
      <h4>Share everywhere</h4>
      <p>Share your creations via social or email and capture attention with your amazing designs.</p>
    </div>
    <div class="features-content">
    <div class="features-image"><%= image_tag('devices.svg') %></div>
      <h4>Mobile and web</h4>
      <p>Projects are automatically synced across the web or the iOS apps so you can work whenever inspiration strikes.</p>
    </div>
  </div>
</section>

<section id="app">
  <div>
    <h3>Get the Spark Video mobile app</h3>
  </div>
  <div id="app-content">
    <div id="app-text">
      <div id="app-title">
        <%= image_tag('voice.svg') %>
        <h4>Spark Video</h4>
      </div>
      <p>Stand out from the crowd and engage your followers with eye-catching Videos using iPhone and iPad.</p>
      <%= image_tag('appstoredownloadbtn.svg') %>
    </div>
    <div id="app-image">
      <%= image_tag('feature-video-mobileDevices.png') %>
    </div>
  </div>
</section>

<section id="portfolio">
  <div>
    <h3>See what people have made with Spark Video</h3>
  </div>
  <div id="portfolio-grid">
    <div class="portfolio-image">
      <img src="https://spark.adobe.com/images/custom-cover-art/uploaded/579617besteffinchicken.jpg" alt="">
    </div>
    <div class="portfolio-image">
      <img src="https://spark.adobe.com/images/custom-cover-art/uploaded/469017-ways-to-wear-blue-at-your-wedding.jpg" alt="">
    </div>
    <div class="portfolio-image">
      <img src="https://spark.adobe.com/images/custom-cover-art/uploaded/86081820158-year-in-review.jpg" alt="">
    </div>
    <div class="portfolio-image">
      <img src="https://spark.adobe.com/images/custom-cover-art/uploaded/460i-need-nature.png" alt="">
    </div>
    <div class="portfolio-image">
      <img src="https://spark.adobe.com/images/custom-cover-art/uploaded/175pedalrevolution.png" alt="">
    </div>
    <div class="portfolio-image">
      <img src="https://spark.adobe.com/images/custom-cover-art/uploaded/218dshs-drama-presents.png" alt="">
    </div>
    <div class="portfolio-image">
      <img src="https://spark.adobe.com/images/custom-cover-art/uploaded/535the-panther-countdown.png" alt="">
    </div>
    <div class="portfolio-image">
      <img src="https://spark.adobe.com/images/custom-cover-art/uploaded/570yesterday-and-today.png" alt="">
    </div>
    <div class="portfolio-image">
      <img src="https://spark.adobe.com/images/custom-cover-art/uploaded/9483648girl-scout-cookies-are-here.jpg" alt="">
    </div>
  </div>
  <div id="portfolio-links">
    <a href="#">See more in ze gallery</a>
    <a href="#">Get started now</a>
  </div>
</section>

<footer>
  <div id="make-design">
    <p>Make a design</p>
  </div>
  <div id="footer-content">
    <div id="left-content">
      <div id="footer-logo">
        <%= image_tag('SP_white@2x.svg') %>
        <h1>Adobe Spark</h1>
        <%= image_tag('icon-footer-facebook.svg') %>
        <%= image_tag('icon-footer-twitter.svg') %>
        <%= image_tag('icon-footer-instagram-grey.svg') %>
      </div>
    </div>
    <div class="links-list">
      <ul>
        <li class="category-name">Product</li>
        <li>Features</li>
        <li>Pricing</li>
        <li>Spark Post</li>
        <li>Spark Page</li>
        <li>Spark video</li>
        <li>Support</li>
        <li>Suggest a feature</li>
      </ul>
    </div>
    <div class="links-list">
      <ul>
        <li class="category-name">Inspiration & learning</li>
        <li>Inspiration gallery</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="links-list">
      <ul>
        <li class="category-name">IOS Apps</li>
        <li>Spark Post</li>
        <li>Spark Page</li>
        <li>Spark video</li>
      </ul>
    </div>
    <div class="links-list">
      <ul>
        <li class="category-name">More</li>
        <li>Spark for business</li>
        <li>Spark in ze classroom</li>
        <li>Community guidelines</li>
        <li>Press</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
  <div id="legal">
    <p>Copyright © 2017 Adobe Systems Incorporated. Privacy policy / Terms of Use / 🍪 </p>
  </div>
</footer>
